<br>

<button class="btn btn-primary" id="patient-create-btn">Register New Patient</button>

<br>

<form id="patient-create">
  <fieldset>
      First Name:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[first_name]" maxlength="30">
      Last Name:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[last_name]" maxlength="30">
      Age:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[age]" maxlength="30">
      Height:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[height]" maxlength="30">
      Weight:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[weight]" maxlength="30">
      Phone:
      <input pattern=".{1,}" required title="1 characters minimum" type="text" name="patient[phone]" maxlength="30">
      Primary Doctor:
      <textarea pattern=".{1,}" required title="1 characters minimum" type="input" name="patient[primary_doctor]" maxlength="60" rows="1"></textarea>
    <input class="btn btn-danger" type="submit" name="submit" value="Register">
  </fieldset>
</form>

<br>

<div class="patients">
<table id="t01">
  <tr>
    <th>Patient Name</th>
    <th>Details</th>
    <th>Remove</th>
  </tr>

  {{#each patients as |patient|}}
    <tr>
      <td>{{patient.first_name}} {{patient.last_name}}</td>
      <td><button class="btn btn-primary btn-xs" id="patient-update" data-id={{patient.id}}>Details</button></td>
      <td><button class="btn btn-danger btn-xs" id="patient-delete" data-id={{patient.id}}>X</button></td>
    </tr>
  {{/each}}

</table>
</div>
